    .overlay-scroll{
      overflow: hidden;
    }
  
    .overlay-scroll::-webkit-scrollbar {
      width: 8px;
      background-color: transparent!important;
    }
    .overlay-scroll::-webkit-scrollbar-track:hover {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
      /*border-radius: 10px;*/
      background-color: #FAFAFA;
      -o-transition: background-color .2s linear;
      -webkit-transition: background-color.2s linear;
      -moz-transition: background-color .2s linear;
      transition: background-color .2s linear;
    }
    .overlay-scroll::-webkit-scrollbar-track {
      -webkit-box-shadw: transparent!important;
      background-color: transparent!important;
    }
  
    .overlay-scroll::-webkit-scrollbar-thumb {
      border-radius: 4px;
      /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);*/
      background-color: transparent!important;
      -o-transition: background-color .2s linear;
      -webkit-transition: background-color.2s linear;
      -moz-transition: background-color .2s linear;
      transition: background-color .2s linear;
    }
    .overlay-scroll::-webkit-scrollbar-thumb:hover {
      border-radius: 4px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: #b9b9b9;
    }
    .overlay-scroll.overlay-scroll_show::-webkit-scrollbar-thumb {
      border-radius: 4px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: #bbbbbb;
    }
    .sticky-nav{
    width: calc(100% + 8px);
}
    .add-scroll-width{
    width: calc(100% + 8px);
}
