.co_scrollbar-disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.co_prevented {
  -webkit-overflow-scrolling: touch;
}
.co_prevented > .co_scrollbar {
  display: none;
}

.co_overlay-scroll {
  position: relative;
  overflow: hidden!important;
  width: 100%;
  height: 100%;
}

.co_scrollbar {
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 1;
  border-radius: 3px;
}

.co_scrollbar._vertical {
  width: 6px;
  top: 2px;
}
.co_scrollbar._vertical.left {
  left: 2px;
}

.co_scrollbar._horizontal {
  height: 6px;
  left: 2px;
}
.co_scrollbar._horizontal.top {
  top: 2px
}

.co_scrollbar .thumb {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(150,150,150,.5);
  transform: translate3d(0,0,0);
}

.co_scrollbar .thumb:hover,
.co_scrollbar .thumb:active {
  background-color: rgba(150,150,150,.6);
}

.co_scrollbar._vertical .thumb {
  width: 100%;
}

.co_scrollbar._horizontal .thumb {
  height: 100%;
}

.co_overlay-scroll .co_overlay-viewport {
  width: 100%;
  height: 100%;
  overflow: scroll;
  transform: translate3d(0,0,0);
  -webkit-overflow-scrolling: touch;
}

.co_overlay-scroll.dark-mode .co_scrollbar .thumb {
  background-color: rgba(0,0,0,.5);
}
.co_overlay-scroll.dark-mode .co_scrollbar .thumb:hover,
.co_overlay-scroll.dark-mode .co_scrollbar .thumb:active {
  background-color: rgba(0,0,0,.7);
}
.co_overlay-scroll.scroll-hide .co_scrollbar,
.co_overlay-scroll.vertical_disabled .co_scrollbar._vertical,
.co_overlay-scroll.horizontal_disabled .co_scrollbar._horizontal{
  display: none;
}
.co_overlay-scroll.vertical_disabled .co_overlay-viewport {
  overflow-y: hidden;
}
.co_overlay-scroll.horizontal_disabled .co_overlay-viewport {
  overflow-x: hidden;
}
.co_overlay-scroll.scroll-auto .co_scrollbar {
  opacity: 0;
  transition: opacity 120ms ease-out;
}
.co_overlay-scroll.scroll-auto:hover > .co_scrollbar,
.co_overlay-scroll.scroll-auto:active > .co_scrollbar,
.co_overlay-scroll.scroll-auto:focus > .co_scrollbar {
  opacity: 1;
  transition: opacity 340ms ease-out;
}

.co_resize-trigger {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
  opacity: 0;
}
